body{
  background-image: url("http://i.imgur.com/9Uc8tkO.jpg");
   background-repeat:no-repeat;
  background-attachment: fixed;
  color: #FFF;
  
}
html{
  text-align: center
}

h1{
  font-weight:bold;
  font-family: "Times New Roman", Georgia, Serif;
  color:#000000;
  
}

p{
  font-size: 30px;
  font-weight:bold;
  font-family: "Times New Roman", Georgia, Serif;
  color:#000000;
}
a{
  color: black;
}
img{

   width:450px;
  height: 200px;
  float: none;
}
.border{
  margin-top: 20px;
  margin-bottom: 20px;
}
.border .container{

  margin: auto;
  width: 80%;
  border-style: double;
  border-color: #FE9A2E;
  border-width: 7px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

