body{
  background-image: url("https://www.google.nl/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjausGJmp_KAhXFKQ8KHbMcCUQQjRwIBw&url=http%3A%2F%2Fwww.footballsierraleone.net%2Fblatter-quits-as-%25E2%2580%25AAfifa%25E2%2580%25AC-president%2F&bvm=bv.111396085,d.ZWU&psig=AFQjCNFqbs1FZfEPEPswyp3BqSawBf3Zgg&ust=1452513229044925");
   background-repeat:no-repeat;
  background-attachment: fixed;
  color: #FFF;
}
html{
  text-align: center

}
a{
  color: black;
}
img{

   width:300px;
  height: 200px;
  float: none;
}
.border{
  margin-top: 20px;
  margin-bottom: 20px;
}
.border .container{

  margin: auto;
  width: 80%;
  border-style: double;
  border-color: #FE9A2E;
  border-width: 7px;
}
li{ background-color:#FE9A2E ;
}
a:hover {
    color: orange;
 }
