body{
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/3f79cc27432009.56365071c5536.png
");
   background-repeat:no-repeat;
  background-attachment: fixed;
  color: #FFF;
  
}
html{
  text-align: center
}

h1{
  font-weight:bold;
  font-family: "Times New Roman", Georgia, Serif;
  color:#000000;
  
}

p{
  font-size: 30px;
  font-weight:bold;
  font-family: "Times New Roman", Georgia, Serif;
  color:#000000;
}
a{
  color: black;
}
img{

   width:450px;
  height: 200px;
  float: none;
}
.border{
  margin-top: 20px;
  margin-bottom: 20px;
}
.border .container{

  margin: auto;
  width: 80%;
  border-style: double;
  border-color: #FE9A2E;
  border-width: 7px;
}
li{ background-color:#FE9A2E ;
}
a:hover {
    color: blue;
 }
